:root {
    --background: #151618;
    --clock-face: #F5F2E9;
    --frame:linear-gradient(267deg, rgb(228, 228, 231) 0%, rgb(161, 161, 170) 50%, rgb(244, 244, 245) 100%);
    --face-highlight: #F7F4ED;
    --face-shadow: #EDE9E1;

   --numbers: #37383B;
    --ticks: #3F4042;
    --minor-ticks: #C5C2B9;

    --hands: #202124;
    --second-hand: #CA473E;

    --accent-blue: #173B5A;
    --accent-brown: #8C654D;
    --center-gold: #D8B84C;
}
body{
  background-color:#151618;
  height: 100vh;
 
}
.header{
   display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
nav{
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#17171A;
  border:0.1mm solid #252529;
  border-radius: 20px;
  height: 59px;
  width:440px;
}
nav div{
  font-size:1rem;
  color:#F2F2F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav div span{
 font-size:0.7rem;
 color:#AAB0C0;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock{
  position: relative;
  height: 300px;
  width: 300px;
  background-color: rgb(245, 241, 232);
  border-radius: 50%;
  border: 2px solid rgb(148, 148, 148);
  
}
.clock::before{
   content: "";
  height: 320px;
  width: 320px;
  border-radius: 50%;
  background-image:var(--frame) ;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   z-index: -1; 
}
.center {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    180deg,
    rgb(228, 228, 231),
    rgb(104, 104, 107),
    rgb(88, 88, 88)
  );
  z-index: 10;
}

.center::before {
  content: "";
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.strips {
  width: 4px;
  height: 13px;
  background: black;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 50%;
  transform-origin: 50% 150px;
  border-radius: 8px;

}
.strips h4{
 
   font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #37383B;
}
.hour{
  width: 6px;
  height: 80px;
  background-color:black ;
}
.minute{
  width: 4px;
  height: 110px;
  background-color: black;
}
.second{
  width: 2px;
  height: 110px;
  z-index: 5;
  background: red;
  margin-top: -50px;
}
.second::before{
  content: " ";
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hand{
 position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  border-radius: 10px;
}
.date{
  position: absolute;
  padding: 5px;
  border-radius: 2px;
  background-color: rgb(249, 249, 249);
  border:0.1mm solid rgba(29, 29, 29, 0.677);
  
  top: 48%;
  left: 85%;
  transform: translateX(-50%);
}