
body{
  background-color:#151618;
  height: 100vh;
 
}
.header{
   display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
nav{
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#17171A;
  border:0.1mm solid #252529;
  border-radius: 20px;
  height: 59px;
  width:440px;
}
nav div{
  font-size:1rem;
  color:#F2F2F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
nav div span{
 font-size:0.7rem;
 color:#AAB0C0;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:68px;
}
.clock{
  position: relative;
  height: 300px;
  width: 300px;
  background-color: #F5F2E9;
  border-radius: 50%;
  border: 2px solid rgb(148, 148, 148);
  
}
.clock::before{
   content: "";
  height: 320px;
  width: 320px;
  border-radius: 50%;
  background-image:linear-gradient(#CFCED0,#B3B3BA,#DFDDD8) ;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   z-index: -1; 
}
.center {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    180deg,
    rgb(228, 228, 231),
    rgb(104, 104, 107),
    rgb(88, 88, 88)
  );
  z-index: 10;
}

.center::before {
  content: "";
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.strips {
  width: 4px;
  height: 13px;
  background: #3F4042;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 50%;
  transform-origin: 50% 150px;
  border-radius: 8px;

}
.strips h4{
 
   font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #37383B;
}
.hour{
  width: 6px;
  height: 80px;
  background-color:#202124;
}
.minute{
  width: 4px;
  height: 110px;
  background-color: #202124;
}
.second{
  width: 2px;
  height: 110px;
  z-index: 5;
  background: #CA473E;
  margin-top: -50px;
}
.second::before{
  content: " ";
  width: 10px;
  height: 10px;
  background-color: #B93631;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hand{
 position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  border-radius: 10px;
}
.date{
  position: absolute;
  padding: 5px;
  border-radius: 2px;
  background-color: rgb(249, 249, 249);
  border:0.1mm solid rgba(29, 29, 29, 0.677);
  
  top: 48%;
  left: 85%;
  transform: translateX(-50%);
}
.digital-time{
  background-color: #252529;
  border: 0.1mm solid grey;
  border-radius: 10px;
  c
}